In [43]:
import pandas as pd
import json
# test.json 내용: [{"name":"Jack","age":26},{"name":"Ace","age":87}]

# JSON 읽어서 데이터프레임으로 만들기
## json 라이브러리 이용
with open('test.json') as f:
    js = json.loads(f.read())
df = pd.DataFrame(js)
## pd.read_json 이용
df = pd.read_json('test.json')

# 데이터프레임을 JSON으로 쓰기
## orient
df.to_json() # default : orient='columns'
# Output : '{"name":{"0":"Jack","1":"Ace"},"age":{"0":26,"1":87}}'
df.to_json(orient='records')
# Output : '[{"name":"Jack","age":26},{"name":"Ace","age":87}]'
df.to_json(orient='index')
# Output : '{"0":{"name":"Jack","age":26},"1":{"name":"Ace","age":87}}'

## json으로 쓰기
df.to_json('write.json',orient='index')
## -> pd.read_json()으로 json으로 읽으면 orient를 자동으로 인식해서 읽습니다.

In [35]:
import pandas as pd
import json
# test.json 내용: [{"name":"Jack","age":26},{"name":"Ace","age":87}]

# JSON 읽어서 데이터프레임으로 만들기

## json 라이브러리 이용

In [50]:
with open('test.json') as f:
    print(f.read())

[{"name":"Jack","age":26},{"name":"Ace","age":87}]

In [48]:
with open('test.json') as f:
    js = json.loads(f.read())
df = pd.DataFrame(js)
display(df)

   name  age
0  Jack   26
1   Ace   87

## pd.read_json 이용

In [51]:
df = pd.read_json('test.json')
display(df)

   name  age
0  Jack   26
1   Ace   87

# 데이터프레임을 JSON으로 쓰기

## orient

In [55]:
df.to_json() # default : orient='columns'

'{"name":{"0":"Jack","1":"Ace"},"age":{"0":26,"1":87}}'

In [40]:
df.to_json(orient='records')
[{"name":"Jack","age":26},{"name":"Ace","age":87}]

'[{"name":"Jack","age":26},{"name":"Ace","age":87}]'

In [53]:
df.to_json(orient='split')

'{"columns":["name","age"],"index":[0,1],"data":[["Jack",26],["Ace",87]]}'

In [54]:
df.to_json(orient='values')

'[["Jack",26],["Ace",87]]'

In [42]:
df.to_json(orient='index')

'{"0":{"name":"Jack","age":26},"1":{"name":"Ace","age":87}}'

## json으로 쓰기

In [19]:
df.to_json('write.json',orient='records')