In [1]:
import pandas as pd

## 데이터 불러오기

In [2]:
iris = pd.read_csv('iris.csv')
iris

     sepal_width    species  sepal_length
0            3.5     setosa           5.1
1            3.0     setosa           4.9
2            3.2     setosa           4.7
3            3.1     setosa           4.6
4            3.6     setosa           5.0
..           ...        ...           ...
145          3.0  virginica           6.7
146          2.5  virginica           6.3
147          3.0  virginica           6.5
148          3.4  virginica           6.2
149          3.0  virginica           5.9

[150 rows x 3 columns]

## 컬럼 순서 변경

In [3]:
col = iris.columns.to_numpy()
col = col[[1,0,2]]
iris = iris[col]

In [4]:
iris

       species  sepal_width  sepal_length
0       setosa          3.5           5.1
1       setosa          3.0           4.9
2       setosa          3.2           4.7
3       setosa          3.1           4.6
4       setosa          3.6           5.0
..         ...          ...           ...
145  virginica          3.0           6.7
146  virginica          2.5           6.3
147  virginica          3.0           6.5
148  virginica          3.4           6.2
149  virginica          3.0           5.9

[150 rows x 3 columns]

### 꽃 종류 확인

In [5]:
iris.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

## 열 삽입

In [6]:
iris.insert(loc=0,column='Classification',value='normal')
iris

    Classification    species  sepal_width  sepal_length
0           normal     setosa          3.5           5.1
1           normal     setosa          3.0           4.9
2           normal     setosa          3.2           4.7
3           normal     setosa          3.1           4.6
4           normal     setosa          3.6           5.0
..             ...        ...          ...           ...
145         normal  virginica          3.0           6.7
146         normal  virginica          2.5           6.3
147         normal  virginica          3.0           6.5
148         normal  virginica          3.4           6.2
149         normal  virginica          3.0           5.9

[150 rows x 4 columns]

## 조건에 따라 검색 및 값 넣기

### 데이터 프레임 복사: 조건에 따라 값을 넣을 때는 복사해서 넣는 것이 선호됩니다.

In [7]:
df = iris.copy()

### 조건 설정

In [8]:
length_condition = (df.sepal_length > df.mean().sepal_length)
width_condition = (df.sepal_width > df.mean().sepal_width)

condition = (length_condition & width_condition)

### 조건 만족할때 Classification 열의 값을 big으로 바꾸기

In [12]:
df.loc[condition ,'Classification'] = 'big'

## Groupby
https://rfriend.tistory.com/392

### agg 함수를 사용하면 다양한 집계함수를 한 번에 여러 열에 적용시킬 수 있습니다.

In [22]:
df[df.Classification == 'big'].groupby('species').agg({'species' : 'count', 'sepal_length' : ['mean','std','max','min']})

           species sepal_length
             count         mean       std  max  min
species
setosa          22     5.313636  0.223171  5.8  5.1
versicolor      47     5.997872  0.467412  7.0  5.1
virginica       49     6.622449  0.593459  7.9  5.6

In [ ]:
column 순서 변경, insert, loc, groupby