In [7]:
from pydataset import data
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows',5)
pd.set_option('display.width', 1000)
from datetime import datetime
Date = datetime.now().strftime("%y%m%d")
import warnings
warnings.filterwarnings(action='ignore')

## titanic data 불러오기 및 랜덤으로 3줄 뽑기

In [8]:
from pydataset import data
df = data('titanic')
df1 = df.sample(n=3,random_state=10)
df1

          class     age    sex survived
57    1st class  adults    man      yes
791   3rd class  adults    man       no
1108  3rd class  adults  women      yes

In [9]:
df1 = df1.reset_index(drop=True) # 인덱스 초기화
df1

       class     age    sex survived
0  1st class  adults    man      yes
1  3rd class  adults    man       no
2  3rd class  adults  women      yes

## df1을 복사해서 마지막 줄이 조금 다른 df2 만들기

In [10]:
df2 = df1.copy()
df2.iloc[2,] = ['3rd class','adults','women','no']
df2

       class     age    sex survived
0  1st class  adults    man      yes
1  3rd class  adults    man       no
2  3rd class  adults  women       no

## df1과 df2 비교

### 부분 비교하기 : age열과 sex열만 비교하기

#### df1과 df2를 위아래로 이어붙여 df 만들기

In [11]:
df = pd.concat([df1,df2])
df = df.reset_index(drop=True) # 인덱스 초기화
df

        class     age    sex survived
0   1st class  adults    man      yes
1   3rd class  adults    man       no
..        ...     ...    ...      ...
4   3rd class  adults    man       no
5   3rd class  adults  women       no

[6 rows x 4 columns]

In [12]:
col = list(df.columns)[1:-1]
col

['age', 'sex']

#### age와 sex로 groupby한 뒤에, groups를 하면 데이터프레임이 딕셔너리로 바뀐다. 
- key로 데이터프레임의 행을 갖고, value로 인덱스를 갖는다.
- key 값은 고유값(unique)하다는 점을 이용

In [14]:
df_grp

In [13]:
df_grp = df.groupby(col) 
df_di = df_grp.groups
print(type(df_di))
df_di # key: 행, value: 인덱스

<class 'dict'>

{('adults', 'man'): Int64Index([0, 1, 3, 4], dtype='int64'),
 ('adults', 'women'): Int64Index([2, 5], dtype='int64')}

#### df_di(딕셔너리)의 값(values)은 인덱스이다.
- 중복되는 행들에 대해선 인덱스가 2개 이상이다.
- 중복되지 않는 행은 df1과 df2중 하나만 가지고 있는 행이므로, 차이나는 행.

In [ ]:
[x[0] for x in df_di.values() if len(x) == 1]

In [15]:
# 두 데이터프레임에 대해 서로 차이나는 인덱스만 저장
idx = [x[0] for x in df_di.values() if len(x) == 1] 
df.loc[idx,:] # Same as df.reindex(idx)

Empty DataFrame
Columns: [class, age, sex, survived]
Index: []

- age와 sex는 df1과 df2가 동일하기 때문에 차이나는 행이 나오지 않습니다.

### 전체 비교하기 : 모든 열을 비교합니다.

#### 마찬가지로 df1과 df2를 이어붙여 df 생성후 인덱스 초기화

In [110]:
df = pd.concat([df1,df2])
df = df.reset_index(drop=True) # 인덱스 초기화

#### 모든 열 기준

In [111]:
col2 = list(df.columns)
col2

['class', 'age', 'sex', 'survived']

#### df.groupby(모든열).groups 를 통해 딕셔너리 생성
- values 부분에 인덱스가 나옵니다.

In [112]:
df_grp = df.groupby(col2) 
df_di2 = df_grp.groups
df_di2

{('1st class', 'adults', 'man', 'yes'): Int64Index([0, 3], dtype='int64'),
 ('3rd class', 'adults', 'man', 'no'): Int64Index([1, 4], dtype='int64'),
 ('3rd class', 'adults', 'women', 'no'): Int64Index([5], dtype='int64'),
 ('3rd class', 'adults', 'women', 'yes'): Int64Index([2], dtype='int64')}

#### 차이나는 행 2개가 나왔습니다.
- df1과 df2를 비교해서 차이나는 행을 출력합니다.

In [113]:
# 두 데이터프레임에 대해 서로 차이나는 인덱스만 저장
idx = [x[0] for x in df_di2.values() if len(x) == 1] 
df.reindex(idx) # Same as df.loc[idx,:]

       class     age    sex survived
5  3rd class  adults  women       no
2  3rd class  adults  women      yes