In [4]:
from pydataset import data
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows',15)
pd.set_option('display.width', 1000)
from datetime import datetime
Date = datetime.now().strftime("%y%m%d")
import warnings
warnings.filterwarnings(action='ignore')
import matplotlib.pyplot as plt

In [40]:
data('esoph',show_doc=True)

esoph

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Smoking, Alcohol and (O)esophageal Cancer

### Description

Data from a case-control study of (o)esophageal cancer in Ille-et-Vilaine,
France.

### Usage

    esoph

### Format

A data frame with records for 88 age/alcohol/tobacco combinations.

[,1]

"agegp"

Age group

1 25--34 years

2 35--44

3 45--54

4 55--64

5 65--74

6 75+

[,2]

"alcgp"

Alcohol consumption

1 0--39 gm/day

2 40--79

3 80--119

4 120+

[,3]

"tobgp"

Tobacco consumption

1 0-- 9 gm/day

2 10--19

3 20--29

4 30+

[,4]

"ncases"

Number of cases

[,5]

"ncontrols"

Number of controls

### Author(s)

Thomas Lumley

### Source

Breslow, N. E. and Day, N. E. (1980) _Statistical Methods in Cancer Research.
Volume 1: The Analysis of Case-Control Studies._ IARC Lyon / Oxford University
Press.

### Examples

    require(stats)
    require(graphics) # for mosaicplot
    summary(esoph)
    ## effects of alcohol, tobacco and interaction, age-adjusted
    model1 <- glm(cbind(ncases, ncontrols) ~ agegp + tobgp * alcgp,
                  data = esoph, family = binomial())
    anova(model1)
    ## Try a linear effect of alcohol and tobacco
    model2 <- glm(cbind(ncases, ncontrols) ~ agegp + unclass(tobgp)
                                             + unclass(alcgp),
                  data = esoph, family = binomial())
    summary(model2)
    ## Re-arrange data for a mosaic plot
    ttt <- table(esoph$agegp, esoph$alcgp, esoph$tobgp)
    o <- with(esoph, order(tobgp, alcgp, agegp))
    ttt[ttt == 1] <- esoph$ncases[o]
    tt1 <- table(esoph$agegp, esoph$alcgp, esoph$tobgp)
    tt1[tt1 == 1] <- esoph$ncontrols[o]
    tt <- array(c(ttt, tt1), c(dim(ttt),2),
                c(dimnames(ttt), list(c("Cancer", "control"))))
    mosaicplot(tt, main = "esoph data set", color = TRUE)

In [41]:
df = data('esoph')

In [42]:
df.head(3)

   agegp      alcgp     tobgp  ncases  ncontrols
1  25-34  0-39g/day  0-9g/day       0         40
2  25-34  0-39g/day     10-19       0         10
3  25-34  0-39g/day     20-29       0          6

In [43]:
df.alcgp.unique()

array(['0-39g/day', '40-79', '80-119', '120+'], dtype=object)

## 숫자 범위 정보(숫자-숫자 or 숫자+)만 추출하고 싶을 때

In [44]:
df['new'] = df.alcgp.str.extract(r'(\d+-\d\d+|\d\d\d\+)')

In [45]:
df.head(3)

   agegp      alcgp     tobgp  ncases  ncontrols   new
1  25-34  0-39g/day  0-9g/day       0         40  0-39
2  25-34  0-39g/day     10-19       0         10  0-39
3  25-34  0-39g/day     20-29       0          6  0-39

In [46]:
df.new.unique()

array(['0-39', '40-79', '80-119', '120+'], dtype=object)

## 특정 열에서 문자 포함되는 행 몇개인지 찾기

In [47]:
df.tobgp.unique()

array(['0-9g/day', '10-19', '20-29', '30+'], dtype=object)

In [48]:
len(df.tobgp.str.contains(r'(day)'))

88