In [3]:
import pandas as pd
from pydataset import data

In [40]:
data('grouseticks',show_doc=True)

grouseticks

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

##  Data on red grouse ticks from Elston et al. 2001

### Description

Number of ticks on the heads of red grouse chicks sampled in the field
(`grouseticks`) and an aggregated version (`grouseticks_agg`); see original
source for more details

### Usage

    data(grouseticks)

### Format

`INDEX`

(factor) chick number (observation level)

`TICKS`

number of ticks sampled

`BROOD`

(factor) brood number

`HEIGHT`

height above sea level (meters)

`YEAR`

year (-1900)

`LOCATION`

(factor) geographic location code

`cHEIGHT`

centered height, derived from `HEIGHT`

`meanTICKS`

mean number of ticks by brood

`varTICKS`

variance of number of ticks by brood

### Details

`grouseticks_agg` is just a brood-level aggregation of the data

### Source

Robert Moss, via David Elston

### References

Elston, D. A., R. Moss, T. Boulinier, C. Arrowsmith, and X. Lambin. 2001.
"Analysis of Aggregation, a Worked Example: Numbers of Ticks on Red Grouse
Chicks." Parasitology 122 (05): 563-569. doi:10.1017/S0031182001007740. http:/
/journals.cambridge.org/action/displayAbstract?fromPage=online&aid=82701.

### Examples

    data(grouseticks)
    ## Figure 1a from Elston et al
    par(las=1,bty="l")
    tvec <- c(0,1,2,5,20,40,80)
    pvec <- c(4,1,3)
    with(grouseticks_agg,plot(1+meanTICKS~HEIGHT,
                      pch=pvec[factor(YEAR)],
                      log="y",axes=FALSE,
                      xlab="Altitude (m)",
                      ylab="Brood mean ticks"))
    axis(side=1)
    axis(side=2,at=tvec+1,label=tvec)
    box()
    abline(v=405,lty=2)
    ## Figure 1b
    with(grouseticks_agg,plot(varTICKS~meanTICKS,
                      pch=4,
                      xlab="Brood mean ticks",
                      ylab="Within-brood variance"))
    curve(1*x,from=0,to=70,add=TRUE)
    ## Model fitting
    form <- TICKS~YEAR+HEIGHT+(1|BROOD)+(1|INDEX)+(1|LOCATION)
    (full_mod1  <- glmer(form, family="poisson",data=grouseticks))

In [41]:
df = data('grouseticks')

In [47]:
df

     INDEX  TICKS  BROOD  HEIGHT  YEAR  LOCATION    cHEIGHT
1        1      0    501     465    95        32   2.759305
2        2      0    501     465    95        32   2.759305
3        3      0    502     472    95        36   9.759305
4        4      0    503     475    95        37  12.759305
5        5      0    503     475    95        37  12.759305
..     ...    ...    ...     ...   ...       ...        ...
399    399      0    741     433    97        15 -29.240695
400    400      0    742     430    97        14 -32.240695
401    401      0    742     430    97        14 -32.240695
402    402      2    743     450    97        25 -12.240695
403    403      0    743     450    97        25 -12.240695

[403 rows x 7 columns]

In [43]:
print(sorted(df.HEIGHT.unique()))

[403, 409, 410, 411, 415, 417, 419, 421, 422, 423, 424, 425, 427, 430, 433, 434, 437, 439, 442, 443, 444, 446, 448, 449, 450, 451, 456, 457, 458, 460, 464, 465, 466, 468, 470, 472, 475, 476, 477, 479, 483, 485, 486, 488, 490, 491, 492, 493, 494, 495, 496, 499, 503, 507, 509, 511, 513, 514, 515, 518, 521, 525, 533]

In [ ]:
interest_li = [405,450,490,525] # 관심 리스트

In [48]:
df_sort = df[df['관심 컬럼'].isin(interest_li)].copy() # 먼저, 데이터 프레임에서 관심값 추출
sorterIndex = dict(zip(interest_li, range(len(interest_li)))) # 정렬을 위한 dictionary 생성
df_sort['sorter'] = df_sort['관심 컬럼'].map(sorterIndex) #해당 dictionary를 이용 정렬을 위해 'sorter'열 생성
df_sort.sort_values('sorter',inplace=True) # sorter를 기준으로 정렬
df_sort.drop('sorter', 1, inplace = True) # sorter 열 삭제

KeyError: '관심 컬럼'

In [49]:
height_li = [405,450,490,525] # 관심있는 리스트

df_sort = df[df['HEIGHT'].isin(height_li)].copy()
sorterIndex = dict(zip(height_li, range(len(height_li))))
df_sort['sorter'] = df_sort['HEIGHT'].map(sorterIndex)
df_sort.sort_values('sorter',inplace=True)
df_sort.drop('sorter', 1, inplace = True)

In [50]:
df_sort

     INDEX  TICKS  BROOD  HEIGHT  YEAR  LOCATION    cHEIGHT
273    273      1    701     450    97        25 -12.240695
277    277      5    701     450    97        25 -12.240695
276    276      2    701     450    97        25 -12.240695
275    275      4    701     450    97        25 -12.240695
274    274      4    701     450    97        25 -12.240695
402    402      2    743     450    97        25 -12.240695
403    403      0    743     450    97        25 -12.240695
16      16      0    506     490    95        45  27.759305
15      15      0    506     490    95        45  27.759305
14      14      0    506     490    95        45  27.759305
239    239      3    638     525    96        62  62.759305
240    240      1    638     525    96        62  62.759305
161    161      1    609     525    96        62  62.759305
117    117      1    559     525    95        62  62.759305
116    116      2    559     525    95        62  62.759305
299    299      0    709     525    97        62  62.759305
300    300      0    709     525    97        62  62.759305
301    301      1    709     525    97        62  62.759305
162    162      0    609     525    96        62  62.759305