## 전체 코드

In [ ]:
import pandas as pd
from pydataset import data
titanic = data('titanic') # titanic 데이터셋 가져오기
df = titanic.sample(5,random_state=90) #랜덤 5개만 가져오기

## iterrows 행 반복
for index, row in df.iterrows():
    print(f"{index=}, {row.age=}, {row['sex']=}")

## itertuples 행 반복
for row in df.itertuples():
    print(f"{row.age=}, {row.sex=}")

## df.index 사용
for idx in df.index:
    print(f"{df.loc[idx,'class']=},  {df['age'][idx]=} ({idx=})")

## iloc 사용
for i in range(len(df)):
    print(f"df.iloc[{i},0] = {df.iloc[i,0]}")

## 테스트 데이터셋 만들기

In [172]:
import pandas as pd
from pydataset import data
titanic = data('titanic')
df = titanic.sample(5,random_state=90)
df

          class     age    sex survived
315   1st class  adults  women      yes
1304  3rd class   child  women       no
318   1st class  adults  women       no
342   2nd class  adults    man       no
1260  3rd class   child    man       no

## iterrows 행 반복

In [126]:
for index, row in df.iterrows():
    print(f"{index=}, {row.age=}, {row['sex']=}")

index=315, row.age='adults', row['sex']='women'
index=1304, row.age='child', row['sex']='women'
index=318, row.age='adults', row['sex']='women'
index=342, row.age='adults', row['sex']='man'
index=1260, row.age='child', row['sex']='man'

## itertuples 행 반복

In [181]:
for row in df.itertuples():
    print(f"{row.age=}, {row.sex=}")

row.age='adults', row.sex='women'
row.age='child', row.sex='women'
row.age='adults', row.sex='women'
row.age='adults', row.sex='man'
row.age='child', row.sex='man'

In [182]:
type(row)

pandas.core.frame.Pandas

## df.index 사용

In [142]:
for idx in df.index:
    print(f"{df.loc[idx,'class']=},  {df['age'][idx]=} ({idx=})")

df.loc[idx,'class']='1st class',  df['age'][idx]='adults' (idx=315)
df.loc[idx,'class']='3rd class',  df['age'][idx]='child' (idx=1304)
df.loc[idx,'class']='1st class',  df['age'][idx]='adults' (idx=318)
df.loc[idx,'class']='2nd class',  df['age'][idx]='adults' (idx=342)
df.loc[idx,'class']='3rd class',  df['age'][idx]='child' (idx=1260)

## iloc 사용

In [157]:
for i in range(len(df)):
    print(f"df.iloc[{i},0] = {df.iloc[i,0]}")

df.iloc[0,0] = 1st class
df.iloc[1,0] = 3rd class
df.iloc[2,0] = 1st class
df.iloc[3,0] = 2nd class
df.iloc[4,0] = 3rd class

## 시간 비교

In [90]:
print(len(titanic))

1316

In [185]:
%%timeit
for i,r in titanic.iterrows():
    test = r.age
    pass

18.2 ms ± 36 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [186]:
%%timeit
for r in titanic.itertuples():
    test = r.age
    pass

541 µs ± 3.99 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [187]:
%%timeit
for idx in titanic.index:
    test = titanic.loc[idx,'age']
    pass

5.11 ms ± 25.2 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [188]:
%%timeit
for i in range(len(titanic)):
    test = titanic.iloc[i,1]
    pass

10.4 ms ± 128 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)